
.cd-buttons > ol, ul {
    list-style: none;
    padding: 0;
}

.img-replace {
    display: inline-block;
    overflow: hidden;
    /* text-indent: 100%; */
    color: transparent;
    white-space: nowrap;
}

header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-color: #5e6e8d;
    color: #FFF;
}

.modal-header {
    padding: 10px 15px 6px;
    border-bottom: 1px solid #2B414E;
    background-color: #2B414E;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 6px;
}

.modal-body {
    position: relative;
    padding: 5px;
}

header h1 {
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (min-width: 1170px) {
    .cd-popup-trigger {
        margin: 6em auto;
    }
}

.cd-popup.gallery_popup, .cd-popup.reserv_popup {
    -webkit-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.cd-popup {
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    -ms-transition: opacity 0.3s 0, visibility 0 0.3s;
    -o-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 100;
    left: 0;
    top: 0;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    padding-top: 1px;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
    z-index: 100;
}

.cd-popup-container {
    position: relative;
    width: 60%;
    margin: 1% auto;
    background: #FFF;
    border-radius: 0;
    text-align: center;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.reserv_popup .cd-popup-container {
    width: 60%;
    min-width: 350px;
}

.cd-popup-container p {
    padding: 60px 20px;
    font-size: 13pt;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
    border-radius: 0;
    background: #005eaa;
    cursor: pointer;
}

.cd-popup-container-confirm {
    max-width: 400px !important;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
    text-decoration: none;
    text-transform: none;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #333333;
    border-radius: 0;
    cursor: pointer;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
    text-decoration: none;
    text-decoration: none;
}


.cd-popup-container .cd-popup-close {
    position: absolute;
    right: -5px;
    top: calc(50% - 14px);
    width: 30px;
    height: 30px;
    z-index: 15;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.cd-popup-container .cd-popup-close:before {
    content: '\e816';
    font-size: 25px;
    font-family: 'fontello';
}


.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 5px auto;
        width: 50%;
    }
}
