@using Riafco.Dataflex.Pro.GlobalResources.Twitter;

@{
    Layout = null;
}

<div class="tweeter-title">
    <div class="gray-line"></div>
    <img src="~/Images/title-icon-left-gray.png" class="left-gray" />
    <h3>@TwitterResources.PageTitle</h3>
    <img src="~/Images/title-icon-right-gray.png" class="right-gray" />
</div>
<div class="tweeter-container">
    <div class="tweets">
        <a class="twitter-timeline" data-height="450" data-theme="light" href="https://twitter.com/fmdv_org?ref_src=twsrc%5Etfw">Tweets by fmdv_org</a>
    </div>
</div>
