@{
    ViewBag.Title = "Vous avez pas access a cette page.";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="page_container">
    <div class="content_container">
        <div class="text-center">
            <img alt="" class="img-responsive no-access" src="~/Images/warning-icon.png" />
            <p>VOUS AVEZ PAS L'AUTORISATION POUR CONSULTER CE CONTENU.</p>
        </div>
    </div>
</div>