@model Admin.Riafco.Dataflex.Pro.Models.Newsletters.ViewData.NewsletterMailsViewData

<script src="~/Scripts/DataTable/data-table-demo.js"></script>

<div class="col-xs-12">

    <table id="pager-data-table" class="hover" cellspacing="0">
        <thead>
        <tr>
            <th class="text-center">SUJET DU MAIL</th>
            <th class="text-center">OPERATIONS</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.NewsletterMails)
        {
            <tr>
                <td>
                    <div class="text-center">@item.TranslationsList.First().NewsletterMailSubject</div>
                </td>
                <td>
                    <input type="image" id="update_newsletter_mail_btn" data="@item.NewsletterMail.NewsletterMailId" class="icon_crud" src="~/Images/edit.png" />
                    <input type="image" id="delete_newsletter_mail_btn" data="@item.NewsletterMail.NewsletterMailId" class="icon_crud" src="~/Images/delete.png" />
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>