@model Admin.Riafco.Dataflex.Pro.Models.About.ViewData.StepParagraphsViewData

<div class="header_container">
    <span id="add_step_paragraph_btn" class="btn_ajouter" data="@Model.StepId">
        <input type="image" src="/Images/add.png" class="icon_ajouter" />
        <span class="valeur_btn">Ajouter</span>
    </span>
</div>

<div id="content_step_paragraphs" class="content_container">
    @Html.Partial("Partials/_StepParagraphsList", Model)
</div>