@font-face {
    font-family: MyFont;
    src: url(/Content/fonts/Saira-Regular.ttf);
}

.orange-line {
    width: 100%;
    border: 1px solid #f99f3b;
    display: inline-block;
    position: relative;
    top: 44px;
    overflow: hidden;
}


.left-orange {
    vertical-align: unset;
    background: white;
    overflow: hidden;
    display: inline-block;
    position: relative;
    left: 4px;
}

.gouvernance-title > h3 {
    display: inline-block;
    font-family: MyFontBold;
    font-size: 21px;
    position: relative;
    padding: 0 7px;
    color: #388db8;
    background: white;
}

.right-orange {
    vertical-align: unset;
    background: white;
    overflow: hidden;
    display: inline-block;
    position: relative;
    right: 4px;
}

.gouvernance-title {
    text-align: center;
}

@media (min-width:768px) {
    .Title {
        margin-left: 33%;
    }
}

@media (min-width:1024px) {
    .Title {
        margin-left: 36%;
    }
}

.gouvernance-container-1 {
    border-top: 1px solid #388db8;
    border-right: 1px solid #388db8;
    height: auto;
    border-left: 1px solid #388db8;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
}


.gouvernance-container-img-1 {
    background: #e6e6e6;
    padding: 15px;
    height: 360px;
    overflow: hidden;
    margin-bottom: 5px;
}


.img-1 > img {
    height: auto !important;
    width: 100% !important;
    margin: 0 !important;
    border: none !important;
    top: -70px;
    margin-bottom: -30px;
    position: relative;
}

.img-1 {
    overflow: hidden;
    height: 100% !important;
    position: relative;
}

@media (max-width:991px) {
    .gouvernance-container-img-1 {
        background: #e6e6e6;
        padding: 15px;
        height: 230px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .img-1 > img {
        height: auto !important;
        width: 100% !important;
        margin: 0 !important;
        border: none !important;
        top: -20px;
        margin-bottom: -30px;
        position: relative;
    }
}

@media (max-width:768px) {
    .gouvernance-container-img-1 {
        background: #e6e6e6;
        padding: 15px;
        height: 230px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .img-1 > img {
        height: auto !important;
        width: 100% !important;
        margin: 0 !important;
        border: none !important;
        top: -20px;
        margin-bottom: -30px;
        position: relative;
    }
}

@media (max-width:425px) {
    .gouvernance-container-img-1 {
        background: #e6e6e6;
        padding: 15px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .img-1 > img {
        height: auto !important;
        width: 100% !important;
        margin: 0 !important;
        border: none !important;
        top: -20px;
        margin-bottom: -30px;
        position: relative;
    }
}

@media (max-width:375px) {
    .gouvernance-container-img-1 {
        background: #e6e6e6;
        padding: 15px;
        height: 150px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .img-1 > img {
        height: auto !important;
        width: 100% !important;
        margin: 0 !important;
        border: none !important;
        top: -20px;
        margin-bottom: -30px;
        position: relative;
    }
}

.img-2 {
    float: left;
    margin-right: 10px;
    border: 1px solid #388db8;
}

@media (max-width:425px) {
    .gouvernance-container-2 {
        height: auto;
        padding: 10px 0px 5px 0px;
        width: 95%;
        margin: 0 auto;
        text-align: justify;
    }

    .img-2 {
        float: none;
        margin-right: 0px;
        border: 1px solid #388db8;
    }
}

.gouvernance-container-3 > h3 {
    display: inline-block;
    color: #388db8;
    font-size: 14pt;
    font-weight: 600;
    font-family: MyFont-histo;
    margin-top: 10px;
    text-align: justify;
}

.gouvernance-container-1 > h3 {
    display: inline-block;
    color: #388db8;
    font-size: 14pt;
    font-weight: 600;
    font-family: MyFont-histo;
}


.gouvernance-container-1 > p {
    font-size: 12pt;
    font-family: MyFont-histo;
    text-align: justify;
}

.gouvernance-container-3 {
    height: auto;
    padding: 15px 20px 5px 20px;
    width: 95%;
    margin: 0 auto;
}

@media (max-width:425px) {

    .gouvernance-container-3 {
        height: auto;
        padding: 15px 0px 5px 0px;
        width: 95%;
        margin: 0 auto;
    }
}


.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}


.btn-text {
    padding: 6px 0px;
}

.bottom-border-g {
    border-bottom: 1px solid #388db8;
    border-right: 1px solid #388db8;
    height: auto;
    border-left: 1px solid #388db8;
    padding: 20px;
    width: 95%;
    height: 150px;
    margin: -140px auto;
    margin-bottom: 0px;
}

@media (max-width:425px) {
    .btn {
        /* margin-bottom: 10px; */
        /* background: rgba(56, 141, 184, 0); */
        /* color: rgba(0, 0, 0, 0.97); */
        /* border: none; */
        /* font-size: 9pt; */
        /* border-radius: 0px !important; */
        /* margin: 0 auto; */
        /* float: none; */
        /* text-align: center; */
    }

    .btn-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: white;
        border-radius: 0px !important;
        border: 1px solid #388db8;
    }

    .bottom-border-g {
        border-bottom: 1px solid #388db8;
        border-right: 1px solid #388db8;
        height: auto;
        border-left: 1px solid #388db8;
        padding: 20px;
        width: 100%;
        height: 250px;
        margin: -240px auto;
        margin-bottom: 0px;
    }
}

span.btn-label {
    margin-left: 0;
}

.btn-label > i {
    color: #388db8;
}

@media (max-width:768px) {
    .container.historique-container {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.gouvernance-container-3 > p {
    text-align: justify;
}

.btn-gouvernance > span {
    right: 0;
    float: left;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    background: white;
    border-radius: 0px !important;
    border-right: 1px solid #388db8;
    left: -20px;
}

.btn-gouvernance {
    margin: 0px;
    background: #388db8;
    color: white;
    border: 1px solid #388db8;
    font-size: 9pt;
    border-radius: 0px !important;
    width: 200px;
    text-align: center;
    margin-right: 5px;
}

    .btn-gouvernance:hover,
    .btn-gouvernance:focus {
        background: #388db8;
        border: 1px solid #388db8;
        border-radius: 0px !important;
    }

.historique-container {
    text-align: center;
}

@media (max-width:500px) {
    .btn-gouvernance > span {
        left: -5px;
    }
}

.gouvernance-container-2 {
    width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

.btn-text > a {
    color: white;
    font-size: 15px;
    font-family: MyFont;
    position: relative;
    top: 4px;
}

.gouvernance-container-2 > h3 {
    display: inline-block;
    color: #388db8;
    font-size: 14pt;
    font-weight: 600;
    font-family: MyFont-histo;
}
