@model Admin.Riafco.Dataflex.Pro.Models.Offices.ViewData.SheetsViewData

<div class="header_container">
    <span id="add_sheet_btn" class="btn_ajouter" data="@Model.CountryId">
        <input type="image" src="/Images/add.png" class="icon_ajouter" />
        <span class="valeur_btn">Ajouter</span>
    </span>
</div>

<div id="content_sheets" class="content_container">
    @Html.Partial("Partials/_SheetsList", Model)
</div>
