@model Admin.Riafco.Dataflex.Pro.Models.Occurrences.ViewData.OccurrencesViewData

@{
    ViewBag.Title = "RIAFCO | Gérer l'agenda.";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts {
    <script src="~/Scripts/occurrences.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
}

@section Styles {
    <link href="~/Content/occurrences.css" rel="stylesheet" />
}

<div class="page_container">

    <div class="header_container">
        <div class="titre_header">Gérer l'agenda : </div>
        <span id="add_occurrence_btn" class="btn_ajouter">
            <input type="image" src="/Images/add.png" class="icon_ajouter" />
            <span class="valeur_btn">Ajouter</span>
        </span>
    </div>

    <div id="content_occurrences" class="content_container">
        @Html.Partial("Partials/_OccurrencesList", Model)
    </div>
</div>

<div id="add_occurrence_pop_up" class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <div class="modal-header">
            <h4>
                <span>ajouter un événement </span>
                <a class="cd-popup-close img-replace"></a>
            </h4>
        </div>
        <div id="add_occurrence_input"></div>
    </div>
</div>

<div id="update_occurrence_pop_up" class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <div class="modal-header">
            <h4>
                <span>modifier un événement: </span>
                <a class="cd-popup-close img-replace"></a>
            </h4>
        </div>
        <div id="update_occurrence_input"></div>
    </div>
</div>

<div id="delete_occurrence_pop_up" class="cd-popup" role="alert">
    <div id="delete_occurrence_input" class="cd-popup-container cd-popup-container-confirm">
    </div>
</div>
